@import "var";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
:active,
:hover,
:focus {
	outline: 0;
	outline-offset: 0;
}
html,
body {
	scroll-behavior: smooth;
	height: 100%;
	font-family: $lato;
	font-size: $fz;
	font-weight: $fw;
	background-color: $white;
}
.wrapper {
	position: relative;
	min-height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 1 auto;
}
.footer {
	background-color: $color-footer;
}
.container {
	max-width: 1260px;
	margin: 0 auto;
	padding: 0 15px;
}
h2 {
	font-weight: $fw;
	color: $color-title;
	font-size: 2.18rem;
	@media (max-width: 768px) {
		font-size: 1.875rem;
	}
}
.btn {
	font-size: 1.5rem;
	color: #fff;
	padding: 0.62em 1.45em;
	display: inline-block;
	outline: none;
	border: none;
	background-color: #1b7dff;
	cursor: pointer;
	overflow: hidden;
	vertical-align: top;
	height: 2.5em;
	line-height: 1.33em;
	@media (max-width: 778px) {
		font-size: 1.25rem;
	}
	&:focus-visible {
		box-shadow: 0 0 0 3px lightskyblue;
	}
	&:hover {
		background-color: #3a8dfa;
	}
	&:active {
		line-height: 38px;
	}
}
.video {
	position: relative;
	width: 100%;
	padding-bottom: 56%;
	& video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
