.top-places {
	margin-bottom: 50px;
	@media (max-width: 768px) {
		margin-bottom: 30px;
	}
	&__h2 {
		margin-bottom: 50px;
		@extend %line;

		@media (max-width: 768px) {
			margin-bottom: 30px;
		}
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -20px;
		@media (max-width: 768px) {
			flex-direction: column;
		}
	}
	&__item {
		flex: 1 1 33.333%;
		margin-bottom: 50px;
		padding: 0 20px;
		@media (max-width: 992px) {
			flex: 1 1 50%;
		}
		@media (max-width: 768px) {
			margin-bottom: 30px;
		}
		// &:last-child {
		// 	margin-bottom: 150px;
		// 	@media (max-width: 768px) {
		// 		margin-bottom: 0px;
		// 	}
		// }
	}
}
.top-item {
	&__img {
		position: relative;
		margin-bottom: 35px;
		padding: 150px 0;
		overflow: hidden;
		@media (max-width: 768px) {
			margin-bottom: 30px;
			padding: 120px 0;
		}
		&:hover img {
			object-position: bottom;
			@media (max-width: 900px) {
				transform: scale(1.1);
				object-position: center;
			}
		}
		& img {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			transition: 2s;
		}
	}
	&__text {
		padding: 0 10px 0 0;
		margin-bottom: 35px;
		@media (max-width: 768px) {
			margin-bottom: 30px;
		}
	}
	&__link {
	}
}
.billet {
	position: relative;
	left: 0;
	top: 150px;
	color: $white;
	font-size: $fz18;
	padding: 20px 15px;
	display: flex;
	justify-content: space-between;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 2px;
		background-color: $black;
		opacity: 0.5;
		width: 100%;
		padding: 30px 0;
		@media (max-width: 768px) {
			top: -28px;
		}
	}

	&__text {
		display: block;
		position: relative;
		text-transform: uppercase;
		@media (max-width: 768px) {
			top: -28px;
		}
	}
	&__img {
	}
	&__hart {
		position: relative;
		padding-right: 15px;
		&::after {
			content: url(../img/Hart.png);
			margin-left: 10px;
		}
		@media (max-width: 768px) {
			top: -28px;
		}
	}

	&__shape {
		position: relative;
		&::after {
			content: url(../img/Shape.png);
			margin-left: 10px;
		}
		@media (max-width: 768px) {
			top: -28px;
		}
	}
}
